*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family:"Calibri Light";
	text-align: center;
	
}

a{
	text-decoration: none;
}

u1{
	list-style: none;
}
.navigation{
	background-color:darkgray;
	display: flex;
	justify-content: space-between;
}
.navigation #logo{
	margin: 20px 50px;
}
.navigation #logo h1{
	font-size: 60px;
	font-family:'Chiller';
}
.navigation nav{
	margin-top: 30px;
}
.navigation nav #cross{
	display: none;
	transistion: all .3s ease;
}
.navigation nav u1{
	display:flex;
}
.navigation nav u1 li{
	margin: 0 20px;
}
.navigation nav u1 li a{
	color: #000000;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 10px;
	position: relative;
}
.navigation nav u1 li a::after{
	content:'';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: #000000;
	transition: all .5s ease;
}
.navigation nav u1 li a:hover:after{
	width:100%;
	transition: all .5s ease;
}

.home{
	width: 100%;
	height:100vh;
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("images/homepage.webp");
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.home .banner_text{
	margin-top: 0;
	color:black;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}
.home .banner_text h1{
	font-size: 55px;
	font-family:"Modern No. 20";
	color: #FFF;
}
.home .banner_text a{
	color: black;
	background-color: antiquewhite;
	padding: 10px 40px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 50px;
	margin-top: 50px;
	transition: color .3s ease;
}
.home .banner_text a:hover{
	color: white;
	background-color: black;
	transition: color .2s ease;
}


.service{
	width:100%;
	background-color: white;
}
.service .main_content{
	width: 100%;
	height: 25vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.service .main_content h1{
	font-family: "Modern No. 20";
	font-size: 45px;
	letter-spacing: 1px;
	margin-bottom: 8px;
}
.service .main_content p {
	color: grey;
	font-style: italic;
	font-family:"sans-serif";
	font-size: 20px;
}
.service .cards{
	width: 100%;
	height: auto;
	background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("images/services.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	color: white;
}
.service .cards .card{
	width: 250px;
	padding: 30px;
	cursor: pointer;
	transition: all .5s ease;
}
.service .cards .card i{
	font-size: 10rem;
}
.service .cards .card:hover{
	background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
	transition: all .5s ease;
}


.product{
	width:100%;
}
.product .product_main_text{
	width: 100%;
	height: 30vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.product .product_main_text h1{
	font-size: 45px;
	font-family:"Modern No. 20";
	letter-spacing: 1px;
}
.product .product_main_text p{
	color: grey;
	font-style: italic;
	font-family: "sans-serif";
	font-size: 20px;
}
.product .product_cards{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	padding: 50px;
}
.product .product_cards .products{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.product .product_cards .products .lines a{
	background-color: rgba(0,89,225,1);
	color: white;
	padding: 10px 40px;
	line-height: 100px;
	border-radius: 30px;
	transition: .5s ease;
}
.product .product_cards .products .lines a:hover{
	background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), rgba(0,89,225,1);
	transition: .5s ease;
}


#blog{
	display :flex;
	justify-content: center;
	flex-direction: column;
	padding: 40px;
	border-bottom: 1px solid rgba(0,0,0,.05);
}

.blog-heading{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.blog-heading p{
	color: grey;
	font-style: italic;
	font-family: "sans-serif";
	font-size: 20px;
}
.blog-heading h1{
	font-size: 45px;
	font-family:"Modern No. 20";
	letter-spacing: 1px;
}
.blog-container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:20px 0px;
	flex-wrap: wrap;
}
.blog-box{
	width:350px;
	background-color: white;
	border: 2px solid #ECECEC;
	margin:20px;
}
.blog-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.blog-text{
	padding: 30px;
	display: flex;
	flex-direction: column;
}
.blog-text span{
	color: red;
	font-size: 20px;
}
.blog-text .blog-title{
	font-size: 15px;
	font-weight: 500;
	color:black;
}
.blog-text .blog-title:hover{
	color: red;
	transition: all ease .3s;
}
.blog-text p{
	color: grey;
	display: flex;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 20px 0px;
}
.blog-text a{
	color: black;
}
.blog-text a:hover{
	color: red;
	transition: all ease .3s
}



.contact{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: white;
	background-size: cover;
}
.contact .content{
	max-width: 800px;
	text-align: center;
}
.contact .content h2{
	font-size: 45px;
	font-family:"Modern No. 20";
	letter-spacing: 1px;
}
.contact .content p{
	text-align: justify;
	font-weight: 300;	
}
.container
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	height: auto;
	background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("images/contactpage.jpg");
	background-size: cover;
	background-position: center;
	flex-wrap: wrap;
	color: black;
	
}
.container .contactInfo{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.container .contactInfo .box{
	position: relative;
	padding: 20px 0;
	display: flex;
}
.container .contactInfo .box .icon{
	min-width: 60px;
	height: 60px;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}
.container .contactInfo .box .text{
	text-align: justify;
	display: flex;
	margin-left: 50px;
	font-size: 16px;
	color: white;
	flex-direction: column;
	font-weight: 300;
	
}
.container .contactInfo .box .text h3{
	text-align: justify;
	font-weight: 500;
	color: white;
}
.contactForm{
	width: 40%;
	padding:40px;
	background:rgba(4,38,40,1.00);
}
.contactForm h2{
	font-size: 30px;
	color: white;
	font-weight:500;
}
.contactForm .inputBox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contactForm .inputBox input{
	text-align: justify;
	width: 100%;
	padiing: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;	
}
.contactForm .inputBox textarea{
	text-align: justify;
	width: 100%;
	padiing: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none; 	
}
.contactForm .inputBox span{
	text-align: justify;
	position: absolute;
	left: 0;
	padiing: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span

{
	color: aqua;
	font-size: 12px;
	transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
	text-align: center;
	width: 100px;
	background: rgba(95,95,228,1.00);
	color: black;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}


.foot{
	text-align: center;
	width: 100%;
	background-color:rgba(52,48,48,1.00);
	display: flex;
	justify-content: center;
}
.foot footer{
	width: 100%;
	background-color: rgba(52,48,48,1.00);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.foot footer .footerdivs{
	width: 300px;
	padding: 30px;
}
.foot footer .footerdivs h1{
	color: white;
	font-size: 45px;
	font-family: Chiller;
	margin-top: 30px;
}
.foot footer .footerdivs a{
	color: white;
	font-size: 12px;
	font-weight: 400;
	font-family: "sans-serif";
	text-transform: uppercase;
	display: block;
	margin-top: 10px;
}
.foot footer .footerdivs i{
	color: white;
	display: block;
	margin-bottom: 10px;
	cursor: pointer;
}
.foot footer .footerdivs a:hover{
	color: red;
}
.foot footer .footerdivs i:hover{
	color: red;
}
.foot .copyright h2{
	color: white;
	font-size: 10px;
	padding: 30px;
	background:rgba(52,48,48,1.00);
}

.signup-box{
	width: 360px;
	height: 580px;
	margin: auto;
	background:url("images/signlogin.jpg");
	margin-top: 30px;
	border-radius: 3px;
}
.signup-box h1{
	text-align: center;
	padding-top: 15px;
}
.signup-box h4{
	text-align: center;
}
.signup-box form{
	width: 300px;
	margin-left: 20px;
}
.signup-box form label{
	display: flex;
	margin-top: 20px;
	font-size: 18px;
}
.signup-box form input{
	text-align: justify;
	width: 100%;
	padding: 7px;
	border: none;
	border: 1px solid gray;
	border-radius: 6px;
	outline: none;
}
.signup-box form input[type="button"]{
	text-align: center;
	width: 100px;
	height: 35px;
	margin-top: 20px;
	border: none;
	background: rgba(12,7,158,1.00);
	color: white;
	font-size: 18px;
}
.signup-box p{
	text-align: center;
	padding-top: 20px;
	font-size: 15px;
}
.para2{
	text-align: center;
	color: black;
	font-size: 15px;
	margin-top: 10px;
}
.para2 a{
	color: red;
}


.login-box{
	width: 360px;
	height: 280px;
	margin: auto;
	margin-top: 30px;
	border-radius: 3px;
	background:url("images/signlogin.jpg");
}
.login-box h1{
	text-align: center;
	padding-top: 15px;
}
.login-box form{
	width: 300px;
	margin-left: 20px;
}
.login-box form label{
	display: flex;
	margin-top: 20px;
	font-size: 18px;
}
.login-box form input{
	text-align: justify;
	width: 100%;
	padding: 7px;
	border: none;
	border: 1px solid gray;
	border-radius: 6px;
	outline: none;
}
.login-box form input[type="button"]{
	text-align: center;
	width: 100px;
	height: 35px;
	margin-top: 20px;
	border: none;
	background: rgba(12,7,158,1.00);
	color: black;
	font-size: 18px;
}
